.app-content {
    overflow: hidden;
    height: 100%;
}

.cart-icon {
    position: relative;
    display: inline-block;
    font-size: 24px; // Adjust icon size as needed

    .badge {
        position: absolute;
        top: -34px;
        right: -25px;
        background-color: #f82fb8;
        color: white;
        border-radius: 50%;
        padding: 4px 6px;
        font-size: 12px;
        font-weight: bold;
    }
}
.text-success{
    color:green
}
.text-success{
    color:red
}