:host {
    display: block;
    height: 100%;
    overflow: auto;
}
button.add-to-cart {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #c293ee;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #551a8b;
    }
}